<!-- Scripts -->
<script src="{{ .Site.BaseURL }}assets/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/jquery.scrollex.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/jquery.scrolly.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/util.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/main.js"></script>

{{ partial "scripts/googleanalytics" . }}
{{ partial "scripts/disqus" . }}

<script src="{{ .Site.BaseURL }}npm/angular.min.js"></script>
<script src="{{ .Site.BaseURL }}npm/unitegallery/js/unitegallery.min.js"></script>
<script src="{{ .Site.BaseURL }}npm/unitegallery/themes/tiles/ug-theme-tiles.js"></script>
<script src="{{ .Site.BaseURL }}nx/flickr.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}nx/photoui.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}nx/app.js" type="text/javascript"></script>